<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Name of the computer / host that the servers get run on. This gets sent to the client, and they connect via WebSockets using ws://<MachineName>/.  -->
    <add key="MachineIp" value="169.254.123.121" />
  
  </appSettings>
  </configuration>